header {
  font-family: sans-serif;
  padding: 2%;
  color: #612405;
}
nav {
  border-radius: 85px 85px 85px 85px;
  -webkit-border-radius: 85px 85px 85px 85px;
  -moz-border-radius: 85px 85px 85px 85px;
  background: #fbf7e3;
  min-width: 80%;
  height: 140px;
  display: flex;
  justify-content: center;
}
nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  min-width: 120px;
  height: 40px;
  border-radius: 95px 95px 95px 95px;
  -webkit-border-radius: 95px 95px 95px 95px;
  -moz-border-radius: 95px 95px 95px 95px;
  background: #f4df86;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.8em;
  margin-left: 0.5em;
}
#bigOne img {
  width: 40px;
  height: 40px;
}
#bigOne {
  min-width: 180px;
  font-weight: 700;
  font-size: 2em;
  align-self: auto;
}
